body{
    font-family: 'Ubuntu', sans-serif;
}
.carousel{
padding-top: 40px;
padding-bottom: 40px;
width: 100%;
margin: 0 auto;
}
.carousel-control-prev span{
    border: solid #534D4D 2px;
    border-radius: 8px;
    padding: 10px;
}
.carousel-control-next span{
    border: solid #534D4D 2px;
    border-radius: 8px;
    padding: 10px;
}
/* our-project */
.our-project{
padding-top: 40px;
padding-bottom: 40px;
}
.our-project h2{
color: #12B0FF;
font-size: 36px;
padding-bottom: 5px;
}
  
.our-project h2::after {
content: "";
display: block;
border-bottom: 5px dotted #12B0FF;
width: 10%;
position: relative;
bottom: -6px; 
}

.our-project .details{
padding-top: 40px;
padding-bottom: 40px;
}

.our-project .details h3{
color: #534D4D;
font-size: 24px;
font-weight: bold;
}
.our-project .details p{
padding-top: 20px;
padding-bottom: 20px;
font-size: 18px;
color: #072928;
line-height: 1.8;
}
.our-project .details ol{
    background-image: url("../image/back.png");
    background-repeat: no-repeat;
}
.our-project .details ol li {
padding-top: 20px;
padding-bottom: 20px;
display: inline-block;
margin-right: 10px;
font-size: 16px;
}
.our-project .details ol li .btn-demo{
background-color: #FBFBFB;
color: #12B0FF;
text-decoration: none;
padding: 20px;
border-radius: 4px;
cursor: pointer;
box-shadow:   10px 20px 20px -15px #888888;
}
.our-project .details ol li .btn-demo:hover{
border: #12B0FF solid 1px;
box-shadow:  0px 0px 0px -0px #888888;
transition: all 0.2s 0.2s;
}
.our-project .details ol li a {
text-decoration: none;
color: #777777;
font-weight: bold;
}

/* others-project */
.others-project{
    background-image: url("../image/back.png");
    background-repeat: no-repeat;
}
.card-others-project {
padding-top: 40px;
padding-bottom: 40px; 
}
.card-others-project h2{
color: #12B0FF;
font-size: 36px;
}
.card-others-project .row{
padding-top: 40px;
padding-bottom: 40px; 
}
.card-others-project .card-details:hover {
cursor: pointer;
margin-top: 10px;
opacity: 80%;
transition: all 0.2s 0.2s;
}
.card-others-project .card-details img{ width: 100%;}
.card-others-project .card-details .card-text{
padding-top: 40px;
padding-bottom: 40px; 
}
.card-others-project .card-details h3{
 font-size: 18px;
}
.card-others-project .card-details p{
    color: #777777;
    font-size: 14px;
}
